<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1> Login </h1>

    <% if (locals.error) { %>
        <P> <%= error %></P> 
       <% } %>
    
    <form action="/user/login" method = "post">
        <label> email </label>
        <input type = "text" name = "email">
        <label> password </label>
        <input type = "text" name = "password">

        <button type = "submit"> login </button>
    </form>

</body>
</html>